* {
  margin: 0px;
  padding: 0px;
}

.wrap {
  width: 90%;
  height: 100%;
  box-shadow: 1px 1px 20px 1px #ccc;
  margin: 40px auto;
}

.wrap header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid #ccc;
}

.wrap header h1 {
  display: flex;
  align-items: center;
}

.wrap ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.wrap ul li {
  padding: 15px;
}

.wrap ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.principal {
  display: flex;
}

#opciones {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px;
  font-size: 20px;
  text-align: center;
  flex: 1;
}

#opciones .titulo {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  width: auto;
}

.box-aside {
  padding: 20px;
  margin-top: 12px;
  background: #eee;
  color: #333;
}

#cards {
  width: 70%;
  height: 100%;
  flex: 6;
  padding: 10px;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#cards .card {
  margin: 10px;
  flex-basis: 250px;
  flex-grow: 1;
  /* border: 1px solid black; */
}

#imagen {
  width: auto;
  height: 180px;
  background-color: #cccccc;
}

#desc {
  padding: 15px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}

footer h2 {
  font-size: 30px;
}

footer p {
  display: flex;
  align-items: center;
}

@media (max-width: 698px) {
  .wrap header {
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }
  .wrap header ul {
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
    /* border: 1px solid black; */
  }

  .wrap header ul li {
    border: 1px solid #ccc;
    flex-basis: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 551px) {
  .principal {
    flex-direction: column;
  }

  #opciones {
    flex-direction: row;
  }

  .titulo {
    flex-basis: 100%;
  }

  .box-aside {
    flex-grow: 1;
  }

  #cards {
    width: auto;
    /* justify-content: center; */
  }

  footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer h2 {
    margin: 5px;
  }

  footer p {
    margin-bottom: 5px;
  }
}
